@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/* ?global declarations */
:root {
  --icon-color: rgb(11, 85, 245);
  --text-color: rgb(113, 113, 113);
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;
}

i {
  padding-right: 0.8rem;
  color: var(--icon-color);
}

.main-heading {
  padding-block: 0.2rem 1rem;
  border-bottom: 1px solid rgb(214, 214, 214);
}

.sub-heading {
  color: rgb(70, 70, 70);
  padding-bottom: 1rem;
}

.main-section,
.project-section,
.education-section {
  margin: 0.8rem;
  padding: 1rem;
  box-shadow: 0px 0px 10px grey;
}


/* ?main section */

.candidate {
  display: grid;
  place-items: center;
  margin-block: 1rem 2rem;
}

.candidate-image {
  width: 60%;
  border-radius: 50%;
  background-color: rgb(67, 50, 253);
}

.candidate-name {
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.candidate-intro {
  list-style-type: none;
  padding: 0 0 0.5rem 0.5rem;
  margin-block: 1rem 1.2rem;
  font-weight: 500;
}

.candidate-intro li a {
  text-decoration: underline blue;
}

.main-section__skills {
  border-top: 1px solid rgb(214, 214, 214);
  padding-block: 1rem 1.5rem;
}

.candidate-intro li,
.candidate-intro li a,
.main-section__skill-name,
.main-section__language-name {
  margin-block: 0.8rem;
  color: var(--text-color);
  font-size: 0.9rem;
}

.main-section__skill-bar-outer {
  background-color: rgb(237, 237, 237);
  border-radius: 20px;
}

.main-section__skill-bar-inner {
  
}

.main-section__skill-bar-inner,
.main-section__language-bar-inner {
  font-size: 0.8rem;
  color: aliceblue;
  text-align: center;
  border-radius: 20px;
  background-color: var(--icon-color);
  width: 0px;
  transition: width 2s;
}

.main-section__languages {
  margin-top: 1.5rem;
  padding-block: 1rem;
  border-top: 1px solid rgb(214, 214, 214);
}


/* ?Project section */
.project-section__projects {
  padding-inline: 1rem;
}

.project-section__project {
  padding-block: 1.2rem 0.6rem;
}

.project-section__project-link {
  padding-bottom: 0.3rem;
}

.project-section__project-link a {
  text-decoration: underline;
}


/* ?education section */
.education-section__course {
  padding-block: 1.5rem 0.5rem;
}

.education-section__course-details {
  list-style: none;
  color: var(--text-color);
  padding-left: 1rem;
}

.education-section__course-details li {
  padding-bottom: 0.2rem;
}

.education-section__course-details li a{
  text-decoration: underline ;
}


/* ?Footer section */
.footer-section {
  background-color: black;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-block: 0.8rem;
  font-size: 0.8rem;
}

.go-to-top {
  border: none;
  padding: 0.2rem 1.5rem;
  cursor: pointer;
}

.go-to-top:hover {
  background-color: rgb(177, 177, 177);
}

.footer__icons {
  margin-block: 0.6rem 0.3rem;
}

.footer__icons i {
  color: aliceblue;
}

.footer__icons i:hover {
  color: rgb(158, 158, 158);
}


/* ?tablet code */
@media (min-width:38rem) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .project-section,
  .education-section 
  {
    margin-left: 0;
  }
}


/* ?Desktop codes */
@media (min-width:60rem) {
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .main-section {
    grid-row: span 2;
  }

  .project-section {
    grid-column: span 2;
  }

  .project-section__projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .project-section__project-item {

    width: calc(50% - 1rem);
  }
}